textarea {
  width: 100%;
  height: 60vh;
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  font-family: monospace;
}

.warning-text {
  color: red;
  font-size: 3em;

  mat-icon {
    transform: scale(2);
  }
}

.input-incremental-export {
  width: 20em;
}
