.rich-text-preview {
  background-color: white;
  color: black;
  padding: 10px;

  .rich-text-preview-inner {
    border: 1px dashed #1C8ADB;
    border-radius: 10px;

    ::ng-deep img {
      max-width: 100%;
    }
  }
}

.edit-button {
  margin: 0 0 0 auto;
}
