<mat-form-field class="me-3 left" appearance="fill">
  <mat-label>产品类型</mat-label>
  <mat-select [(value)]="type" (selectionChange)="ngModelTypeChange()">
    <mat-option [value]="Simple">{{Simple}}</mat-option>
    <mat-option [value]="Variable">{{Variable}}</mat-option>
    <mat-option [value]="Variation">{{Variation}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="w-100" appearance="fill">
  <mat-label>父产品SKU</mat-label>
  <input matInput [(ngModel)]="parent"  [disabled]="type != Variation" (change)="ngModelParentChange()"
         #scenarioName="ngModel" pattern="[a-z0-9\-]+">
  <mat-error *ngIf="scenarioName.invalid">只可包含小写字母、数字和横杠，如 12345-base</mat-error>
</mat-form-field>
