.fix-size {
  height: 1.85rem;
  width: 1.85rem;
  transition: .3s ease-in-out;
}

mat-icon {
  color: white;
  font-size: 22px;
}

.NgxEditor__MenuItem--Active {
  mat-icon {
    color: #1a73e8;
  }
}

.color-black {
  color: black
}
