<div>
  <div class="row-container">
    <div class="row mb-2" *ngFor="let url of urls; let i = index">
      <div class="col-12"
           [class.col-md-10]="url && url.length">
        <mat-form-field appearance="fill">
          <mat-label>
            <app-flagged-attribute-name [name]="attr.name"></app-flagged-attribute-name>
          </mat-label>
          <input matInput [(ngModel)]="urls[i]" (ngModelChange)="ngModelChange()">
          <button matSuffix mat-icon-button aria-label="Delete" (click)="deleteImage(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2 col-12" *ngIf="url && url.length">
        <a class="d-contents" [href]="url" target="_blank">
          <img [src]="url" alt="image of {{attr.name}}"/>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button class="upload-button" matSuffix mat-icon-button aria-label="Upload Image" (click)="uploadCategoryImage()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>
</div>
