<mat-sidenav-container class="w-100 h-100">
  <!-- VariationAttribute Selector -->
  <mat-sidenav
    #snav
    [fixedInViewport]="(mobileQuery.matches && selectedVariationAttribute !== null)"
    [mode]="(mobileQuery.matches && selectedVariationAttribute !== null) ? 'over' : 'side'"
    [opened]="!(mobileQuery.matches && selectedVariationAttribute !== null)"
    fixedTopGap="56">
    <mat-nav-list>
      <mat-list-item (click)="addVariationAttributeOnClick()">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <ng-container *ngFor="let attr of variationAttributes">
        <mat-list-item (click)="editOnClick(attr)">{{attr.name}}</mat-list-item>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- VariationAttribute Editor -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar *ngIf="selectedVariationAttribute" color="secondary">
      <!-- menu toggle -->
      <button (click)="snav.toggle()" *ngIf="mobileQuery.matches" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- save btn-->
      <button class="heartbeat" (click)="saveButtonOnclick(selectedVariationAttribute)" mat-icon-button
              aria-label="Save">
        <mat-icon>save</mat-icon>
      </button>
      <span>{{selectedVariationAttribute.name}}</span>
      <span class="toolbar-spacer"></span>

      <!-- delete btn -->
      <ng-container *ngIf="!editingNewVariationAttribute">
        <button [matMenuTriggerFor]="deleteMenu" mat-icon-button aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-menu #deleteMenu="matMenu">
          <button (click)="deleteVariationAttribute(selectedVariationAttribute)" mat-menu-item>确认删除</button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>

    <div class="p-3" *ngIf="selectedVariationAttribute">
      <mat-form-field appearance="fill" class="flex-100">
        <mat-label>属性名</mat-label>
        <input matInput [(ngModel)]="selectedVariationAttribute.name" required name="属性名" [attr.autocomplete]="'off'">
      </mat-form-field>

      <div class="row-add-term">
        <button (click)="addVariationAttributeTermOnClick()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
        <span>属性变量</span>
      </div>

      <div class="d-xl-flex flex-xl-wrap" *ngFor="let term of selectedVariationAttribute.terms; let index = index">
        <!-- 变量名 -->
        <div class="flex-xxl-16 flex-20 term-name d-flex justify-content-between">
          <button (click)="deleteVariationAttributeTermOnClick(index)" mat-icon-button aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>
              <span>变量名</span>
            </mat-label>
            <input matInput [(ngModel)]="term.name" name="变量名" [attr.autocomplete]="'off'">
          </mat-form-field>
        </div>
        <!-- 变量翻译 -->
        <mat-form-field class="flex-xxl-16 flex-20" appearance="fill" *ngFor="let translation of term.translations">
          <mat-label>
            <app-flagged-attribute-name [name]="'#' + translation.lang"></app-flagged-attribute-name>
          </mat-label>
          <input matInput [(ngModel)]="translation.translation" [name]="translation.lang" [attr.autocomplete]="'off'">
        </mat-form-field>
      </div>
    </div><!-- end <div class="p-3" *ngIf="selectedVariationAttribute" -->
  </mat-sidenav-content>
</mat-sidenav-container>
