mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

mat-sidenav {
  width: 200px;

  ::ng-deep::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::ng-deep::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
  }
}

h3 {
  border-bottom: 1px solid hsla(0,0%,100%,.12);
}

mat-form-field {
  display: block;
  margin-bottom: 10px;
}

.menu-icon-item {
  display: block;
  margin: 0 auto !important;
}
