<mat-sidenav-container class="w-100 h-100">
  <!-- Category Selector -->
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item>
        <button (click)="addCategoryOnClick()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <ng-container *ngFor="let catg of categories">
        <app-category-side-item [category]="catg" (selected)="editOnClick($event)"></app-category-side-item>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <!-- Category Editor -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar *ngIf="selectedCategory" color="secondary">
      <button class="heartbeat" (click)="saveButtonOnclick(selectedCategory)" mat-icon-button aria-label="Save">
        <mat-icon>save</mat-icon>
      </button>
      <span>{{selectedCategory.name}}</span>
      <span class="toolbar-spacer"></span>
      <ng-container *ngIf="!editingNewCategory">
        <button [matMenuTriggerFor]="menu" mat-icon-button aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="deleteCategory(selectedCategory)" mat-menu-item>确认删除</button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>

    <div class="p-3" *ngIf="selectedCategory">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md-6 col-lg-4">
            <div class="w-100 h-100">
              <a class="d-contents" [href]="getCategoryImageSrc(selectedCategory)" target="_blank">
                <img class="category-img" [src]="getCategoryImageSrc(selectedCategory)"
                     alt="category image of {{selectedCategory.name}}"/>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="w-100">
              <!-- 内部名 -->
              <mat-form-field appearance="fill">
                <mat-label>内部名</mat-label>
                <input matInput placeholder="内部名" [(ngModel)]="selectedCategory.name" required>
              </mat-form-field>

              <!-- 类别代码 -->
              <mat-form-field appearance="fill">
                <mat-label>类别代码</mat-label>
                <input matInput [(ngModel)]="selectedCategory.code" [disabled]="!editingNewCategory"
                       #scenarioName="ngModel" required pattern="[a-z0-9\-]+">
                <mat-error *ngIf="scenarioName.invalid">只可包含小写字母、数字和横杠，如 sample-category</mat-error>
              </mat-form-field>

              <!-- 父类别 -->
              <mat-form-field appearance="fill">
                <mat-label>父类别</mat-label>
                <mat-select [(value)]="selectedCategory.parentId">
                  <mat-option *ngFor="let catg of categorySelectTree | keyvalue: keepOrderSort" [value]="catg.value">
                    <!-- keyvalue pipe will sort attr, so supply a keepOrderSort function to keep order -->
                    {{catg.key}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- 图片 -->
              <mat-form-field appearance="fill">
                <mat-label>类别图片</mat-label>
                <input matInput [(ngModel)]="selectedCategory.image">
                <button mat-button matSuffix mat-icon-button aria-label="Upload Image" (click)="uploadCategoryImage()">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="d-xl-flex flex-xl-wrap">
        <!-- 可变属性 -->
        <ng-container *ngFor="let attr of selectedCategory.attributes; let i = index">
          <h3 *ngIf="nextAttrShowLabel(attr.name)" class="flex-100 mb-1">{{currentAttr}}</h3>
          <ng-container [ngSwitch]="attr.type">
            <!-- TEXT -->
            <mat-form-field *ngSwitchCase="TEXT" class="flex-50" appearance="fill">
              <!-- image field is already shown above -->
              <mat-label>
                <app-flagged-attribute-name [name]="attr.name"></app-flagged-attribute-name>
              </mat-label>
              <input matInput [(ngModel)]="attr.value">
            </mat-form-field>

            <!-- IMAGE -->
            <!-- Must use index to access the attr here, otherwise will cause compile error -->
            <!-- https://stackoverflow.com/questions/60128458/strange-problem-migrating-angular-8-app-to-9 -->
            <app-image-field class="flex-50" *ngSwitchCase="IMAGE" [(attr)]="selectedCategory.attributes[i]"></app-image-field>

            <!-- IMAGE_SET -->
            <app-image-set-field class="flex-50" *ngSwitchCase="IMAGE_SET" [(attr)]="selectedCategory.attributes[i]"></app-image-set-field>

            <!-- RICH_TEXT -->
            <app-rich-text-field class="flex-100 mb-2" *ngSwitchCase="RICH_TEXT" [(attr)]="selectedCategory.attributes[i]"></app-rich-text-field>

            <!-- Default -->
            <mat-form-field *ngSwitchDefault  class="flex-50" appearance="fill">
              <mat-label>
                <app-flagged-attribute-name [name]="attr.name"></app-flagged-attribute-name>
              </mat-label>
              <input matInput [(ngModel)]="attr.value">
            </mat-form-field>
          </ng-container>
        </ng-container>

        <!-- 创建时间 -->
        <mat-form-field class="flex-100" appearance="fill" *ngIf="!editingNewCategory">
          <mat-label>创建时间</mat-label>
          <input matInput [(ngModel)]="selectedCategory.createdAt" disabled>
        </mat-form-field>

        <!-- 上次修改 -->
        <mat-form-field class="flex-100" appearance="fill" *ngIf="!editingNewCategory">
          <mat-label>上次修改</mat-label>
          <input matInput [(ngModel)]="selectedCategory.updatedAt" disabled>
        </mat-form-field>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
