<div class="row">
  <div class="col-12"
       [class.col-md-10]="attr.value && attr.value.length">
    <mat-form-field appearance="fill">
      <mat-label>
        <app-flagged-attribute-name [name]="attr.name"></app-flagged-attribute-name>
      </mat-label>
      <input matInput [(ngModel)]="attr.value" (ngModelChange)="ngModelChange()">
      <button mat-button matSuffix mat-icon-button aria-label="Upload Image" (click)="uploadCategoryImage()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-2 col-12" *ngIf="attr.value && attr.value.length">
    <a class="d-contents" [href]="attr.value" target="_blank">
      <img [src]="attr.value" alt="image of {{attr.name}}"/>
    </a>
  </div>
</div>
