<mat-form-field class="d-block" appearance="fill">
  <mat-label>
    <app-flagged-attribute-name [name]="attr.name"></app-flagged-attribute-name>
  </mat-label>
  <input matInput [ngxMatDatetimePicker]="picker"
         name="date"
         placeholder="Choose a date"
         [(ngModel)]="attr.value"
         (change)="ngModelChange()">
  <button mat-icon-button matSuffix (click)="picker.open(); $event.stopPropagation();">
    <mat-icon>today</mat-icon>
  </button>
  <ngx-mat-datetime-picker #picker
                           [showSpinners]="true"
                           [showSeconds]="true"
                           [stepHour]="1" [stepMinute]="1"
                           [stepSecond]="1"
                           [touchUi]="true">
  </ngx-mat-datetime-picker>
</mat-form-field>
