<h3>上传图片</h3>

<div class="upload-file-container" (click)="fileInput.click()" appDragDrop (onFileDropped)="onFileDropped($event)">
  <input hidden type="file" #fileInput (change)="onFileSelected($event)" accept="image/*">
  <span>点击此处 或 拖拽图片到此处</span>
</div>
<div class="files-list d-flex justify-content-between" *ngFor="let file of files;let i=index">
  <span class="ms-2">{{ file.file.name }}</span>
  <span class="mx-2 text-warning">{{ file.result }}</span>
  <button mat-icon-button (click)="deleteAttachment(i)">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div class="d-flex justify-content-between">
  <button *ngIf="files.length > 0 && status == START" class="m-auto" matSuffix mat-icon-button aria-label="Upload Image"
          (click)="uploadClick()">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <mat-spinner *ngIf="status == UPLOADING" diameter="50"></mat-spinner>
  <mat-icon *ngIf="status == DONE">done</mat-icon>
</div>

