<mat-accordion class="app-nav-accordion">
  <mat-expansion-panel class="mat-elevation-z0" [disabled]="category.children == null && (products == null || products.length === 0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <ng-container *ngFor="let child of category.children">
        <app-category-side-item [category]="child" (selected)="childEditOnClick($event)"></app-category-side-item>
      </ng-container>

      <ng-container *ngIf="products == null && products.length === 0">
        <mat-list-item *ngFor="let pdt of products">
          <button mat-icon-button (click)="editOnClick(pdt, $event)">
            <mat-icon>edit</mat-icon>
          </button>
          <span>{{pdt.name}}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

  </mat-expansion-panel>
</mat-accordion>
