<mat-accordion class="app-nav-accordion">
  <mat-expansion-panel class="mat-elevation-z0"
                       [disabled]="category.children === null && (categoryIdToProductMap.get(this.category.id) === null || categoryIdToProductMap.get(this.category.id).length === 0)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{category.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <ng-container *ngFor="let child of category.children">
        <app-product-side-item [category]="child" (selected)="childEditOnClick($event)"
                               [categoryIdToProductMap]="categoryIdToProductMap"></app-product-side-item>
      </ng-container>

      <ng-container
        *ngIf="categoryIdToProductMap.get(this.category.id) && categoryIdToProductMap.get(this.category.id).length">
        <mat-list-item *ngFor="let pdt of categoryIdToProductMap.get(this.category.id)"
                       (click)="editOnClick(pdt, $event)" [ngClass]="{'selected': pdt.matListItemSelected}">
          <mat-icon>edit</mat-icon>
          <span>{{pdt.name}}</span>
        </mat-list-item>
      </ng-container>
    </mat-nav-list>

  </mat-expansion-panel>
</mat-accordion>
