@import "src/styles";

mat-expansion-panel{
  @include product-side-nav-mat-expansion-panel;
}

mat-expansion-panel,
mat-expansion-panel * {
  transition: none !important;
}

.selected {
  background: rgba(156, 39, 176, 0.15);
  color: #d176e1;
}

.highlight {
  animation: background-blink 1s infinite;
}
