@import "src/styles";

mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

mat-sidenav {
  width: 200px;

  ::ng-deep::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::ng-deep::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
  }
}

@media (min-width: 1400px) {
  .sidenav {
    width: 400px;
  }
}

@media (min-width: 1900px) {
  .sidenav {
    width: 600px;
  }
}

@media (min-width: 2400px) {
  .sidenav {
    width: 800px;
  }
}

h3 {
  border-bottom: 1px solid hsla(0, 0%, 100%, .12);
}

mat-form-field {
  display: block;
  margin-bottom: 10px;
}

.product-img {
  display: block;
  max-height: 350px;
  max-width: 100%;
  margin: 0 auto;
}

.menu-icon-item {
  display: block;
  margin: 0 auto !important;
}

mat-expansion-panel {
  @include product-side-nav-mat-expansion-panel;
}

