<mat-sidenav-container class="w-100 h-100">
  <!-- Product Selector -->
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item>
        <button (click)="addProductOnClick()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <!-- 类别与产品列表 -->
      <ng-container *ngIf="categories && categories.length && products && products.length">
        <!-- 已分类 -->
        <ng-container *ngFor="let catg of categories">
          <app-product-side-item [category]="catg" (selected)="editOnClick($event)"
                                 [categoryIdToProductMap]="categoryIdToProductMap"></app-product-side-item>
        </ng-container>

        <!-- 未分类 -->
        <mat-expansion-panel class="mat-elevation-z0" [disabled]="uncategorized == null || uncategorized.length == 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              未分类
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item *ngFor="let pdt of uncategorized" (click)="editOnClick(pdt)">
              <mat-icon>edit</mat-icon>
              <span>{{pdt.name}}</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <!-- Product Editor -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar *ngIf="selectedProduct" color="secondary">
      <!-- save btn -->
      <button class="heartbeat" (click)="saveButtonOnclick(selectedProduct)" mat-icon-button aria-label="Save">
        <mat-icon>save</mat-icon>
      </button>
      <span>{{selectedProduct.name}}</span>
      <span class="toolbar-spacer"></span>

      <!-- order btn -->
      <ng-container *ngIf="!editingNewProduct">
        <button [matMenuTriggerFor]="orderMenu" mat-icon-button aria-label="Order">
          <mat-icon>reorder</mat-icon>
        </button>
        <mat-menu #orderMenu="matMenu">
          <button class="d-block" (click)="moveProductUp(selectedProduct)" mat-menu-item aria-label="Move Up">
            <mat-icon class="menu-icon-item">arrow_upward</mat-icon>
          </button>
          <button class="d-block" (click)="moveProductDown(selectedProduct)" mat-menu-item aria-label="Move Down">
            <mat-icon class="menu-icon-item">arrow_downward</mat-icon>
          </button>
        </mat-menu>
      </ng-container>

      <!-- delete btn -->
      <ng-container *ngIf="!editingNewProduct">
        <button [matMenuTriggerFor]="deleteMenu" mat-icon-button aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-menu #deleteMenu="matMenu">
          <button (click)="deleteProduct(selectedProduct)" mat-menu-item>确认删除</button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>

    <div class="p-3" *ngIf="selectedProduct">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md-6 col-lg-4">
            <div class="w-100 h-100">
              <a class="d-contents" [href]="getProductImageSrc(selectedProduct)" target="_blank">
                <img class="product-img" [src]="getProductImageSrc(selectedProduct)"
                     alt="product image of {{selectedProduct.name}}"/>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="w-100">
              <!-- 内部名 -->
              <mat-form-field appearance="fill">
                <mat-label>内部名</mat-label>
                <input matInput placeholder="内部名" [(ngModel)]="selectedProduct.name" required>
              </mat-form-field>

              <!-- 类别代码 -->
              <mat-form-field appearance="fill">
                <mat-label>SKU</mat-label>
                <input matInput [(ngModel)]="selectedProduct.sku" [disabled]="!editingNewProduct"
                       #scenarioName="ngModel" required pattern="[a-z0-9\-]+">
                <mat-error *ngIf="scenarioName.invalid">只可包含小写字母、数字和横杠，如 sample-category</mat-error>
              </mat-form-field>

              <!-- simple or variation -->
              <!-- <app-product-type-field [(attr)]="selectedProduct.type"></app-product-type-field> -->

              <!-- 类别 -->
              <app-category-select-field class="d-block" label="类别"
                                         [(attr)]="selectedProduct.categoryIds"
                                         [multiple]="true"
                                         [categorySelectTree]="categorySelectTree">
              </app-category-select-field>

              <!-- 图片 -->
              <mat-form-field appearance="fill">
                <mat-label>类别图片</mat-label>
                <input matInput [(ngModel)]="selectedProduct.image">
                <button mat-button matSuffix mat-icon-button aria-label="Upload Image" (click)="uploadProductImage()">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </mat-form-field>
            </div><!-- end <div class="w-100"> -->
          </div><!-- end <div class="col-md-6 col-lg-8"> -->
        </div><!-- end <div class="row mb-3"> -->
      </div><!-- end <div class="container-fluid"> 图片与固定属性section -->

      <div class="d-xl-flex flex-xl-wrap">
        <!-- 可变属性 -->
        <ng-container *ngFor="let attr of selectedProduct.attributes; let i = index">
          <h3 *ngIf="nextAttrShowLabel(attr.name)" class="flex-100 mb-1 d-flex  justify-content-between">
            <b>{{currentAttr}}</b>
            <small>{{getDescriptionOfProductAttr(currentAttr)}}</small>
          </h3>
          <ng-container [ngSwitch]="getAttrType(currentAttr)">
            <!-- Must use index to access the attr here, otherwise will cause compile error -->
            <!-- https://stackoverflow.com/questions/60128458/strange-problem-migrating-angular-8-app-to-9 -->

            <!-- Default -->
            <app-text-field class="flex-50" *ngSwitchDefault
                            [(attr)]="selectedProduct.attributes[i]"></app-text-field>

            <!-- TEXT -->
            <app-text-field class="flex-50" *ngSwitchCase="TEXT"
                            [(attr)]="selectedProduct.attributes[i]"
                            [options]="getOptionsOfSelectAttr(currentAttr)"></app-text-field>

            <!-- NUMBER -->
            <app-number-field class="flex-33 flex-xxl-25" *ngSwitchCase="NUMBER"
                              [(attr)]="selectedProduct.attributes[i]"
                              [options]="getOptionsOfSelectAttr(currentAttr)"></app-number-field>

            <!-- IMAGE -->
            <app-image-field class="flex-50" *ngSwitchCase="IMAGE"
                             [(attr)]="selectedProduct.attributes[i]"></app-image-field>

            <!-- IMAGE_SET -->
            <app-image-set-field class="flex-50 flex-xxl-33" *ngSwitchCase="IMAGE_SET"
                                 [(attr)]="selectedProduct.attributes[i]"></app-image-set-field>

            <!-- RICH_TEXT -->
            <app-rich-text-field class="flex-100 mb-2" *ngSwitchCase="RICH_TEXT"
                                 [(attr)]="selectedProduct.attributes[i]"></app-rich-text-field>

            <!-- BOOLEAN -->
            <app-boolean-field class="flex-33 flex-xxl-25 mb-2" *ngSwitchCase="BOOLEAN"
                               [(attr)]="selectedProduct.attributes[i]"></app-boolean-field>

            <!-- SELECT -->
            <app-select-field class="flex-33 flex-xxl-25 mb-2" *ngSwitchCase="SELECT"
                              [(attr)]="selectedProduct.attributes[i]"
                              [options]="getOptionsOfSelectAttr(currentAttr)"></app-select-field>

            <!-- datetime picker -->
            <app-datetime-picker-field class="flex-33 flex-xxl-25 mb-2" *ngSwitchCase="DATE"
                              [(attr)]="selectedProduct.attributes[i]"></app-datetime-picker-field>

          </ng-container><!-- end ngSwitch -->
        </ng-container><!-- end *ngFor="let attr of selectedProduct.attributes; let i = index" -->

        <!-- 创建时间 -->
        <mat-form-field class="flex-100" appearance="fill" *ngIf="!editingNewProduct">
          <mat-label>创建时间</mat-label>
          <input matInput [(ngModel)]="selectedProduct.createdAt" disabled>
        </mat-form-field>

        <!-- 上次修改 -->
        <mat-form-field class="flex-100" appearance="fill" *ngIf="!editingNewProduct">
          <mat-label>上次修改</mat-label>
          <input matInput [(ngModel)]="selectedProduct.updatedAt" disabled>
        </mat-form-field>
      </div><!-- end <div class="d-xl-flex flex-xl-wrap"> 可变属性与时间section -->
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
