<mat-sidenav-container class="w-100 h-100">
  <!-- Product Selector -->
  <mat-sidenav
    #snav
    [fixedInViewport]="(mobileQuery.matches && selectedProduct != null)"
    [mode]="(mobileQuery.matches && selectedProduct != null) ? 'over' : 'side'"
    [opened]="!(mobileQuery.matches && selectedProduct != null)"
    class="sidenav"
    fixedTopGap="56">
    <mat-list>
      <mat-list-item>
        <button (click)="addProductOnClick()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <!-- 类别与产品列表 -->
      <ng-container *ngIf="categories && categories.length">
        <!-- 已分类 -->
        <ng-container *ngFor="let catg of categories">
          <app-product-side-item [category]="catg" (selected)="editOnClick($event)"
                                 [categoryIdToProductMap]="categoryIdToProductMap"
                                 (toggle)="toggleVariableChildren($event)"></app-product-side-item>
        </ng-container>

        <!-- 未分类 -->
        <mat-expansion-panel class="mat-elevation-z0" [disabled]="uncategorized == null || uncategorized.length == 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              未分类
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item *ngFor="let pdt of uncategorized" (click)="editOnClick(pdt)">
              <mat-icon>edit</mat-icon>
              <span>{{pdt.name}}</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-container>
    </mat-list>
  </mat-sidenav>

  <!-- Product Editor -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar *ngIf="selectedProduct" color="secondary">
      <!-- menu toggle -->
      <button (click)="snav.toggle()" *ngIf="mobileQuery.matches" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- save btn -->
      <button #saveBtn class="heartbeat" (click)="saveButtonOnclick(selectedProduct)" mat-icon-button aria-label="Save">
        <mat-icon>save</mat-icon>
      </button>
      <span>{{selectedProduct.name}}</span>
      <span class="toolbar-spacer"></span>

      <!-- order btn -->
      <ng-container *ngIf="!editingNewProduct">
        <button [matMenuTriggerFor]="orderMenu" mat-icon-button aria-label="Order">
          <mat-icon>reorder</mat-icon>
        </button>
        <mat-menu #orderMenu="matMenu">
          <button class="d-block" (click)="moveProductUp(selectedProduct)" mat-menu-item aria-label="Move Up">
            <mat-icon class="menu-icon-item">arrow_upward</mat-icon>
          </button>
          <button class="d-block" (click)="moveProductDown(selectedProduct)" mat-menu-item aria-label="Move Down">
            <mat-icon class="menu-icon-item">arrow_downward</mat-icon>
          </button>
        </mat-menu>
      </ng-container>

      <!-- delete btn -->
      <ng-container *ngIf="!editingNewProduct">
        <button [matMenuTriggerFor]="deleteMenu" mat-icon-button aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-menu #deleteMenu="matMenu">
          <button (click)="deleteProduct(selectedProduct)" mat-menu-item>确认删除</button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>

    <div class="p-3" *ngIf="selectedProduct">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-md-6 col-lg-4">
            <div class="w-100 h-100">
              <a class="d-contents" [href]="getProductImageSrc(selectedProduct)" target="_blank">
                <img class="product-img" [src]="getProductImageSrc(selectedProduct)"
                     alt="product image of {{selectedProduct.name}}"/>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="w-100">
              <!-- 内部名 -->
              <mat-form-field appearance="fill">
                <mat-label>内部名</mat-label>
                <input matInput name="内部名" placeholder="内部名" [(ngModel)]="selectedProduct.name" required>
              </mat-form-field>

              <!-- 类别代码 -->
              <!-- 不允许修改，在新建保存时由后端自动生成 -->
              <mat-form-field appearance="fill">
                <mat-label>SKU</mat-label>
                <input matInput name="sku" [(ngModel)]="selectedProduct.sku" disabled required pattern="[a-z0-9\-]+">
              </mat-form-field>

              <!-- 产品类型 simple variable variation -->
              <app-product-type-field class="d-flex" [(type)]="selectedProduct.type"
                                      [(parent)]="selectedProduct.parent"
                                      (parentBlur)="selectedProductParentUpdateEvent($event)"></app-product-type-field>

              <!-- 类别 -->
              <app-category-select-field class="d-block w-100" label="类别"
                                         [(attr)]="selectedProduct.categoryIds"
                                         [multiple]="true"
                                         [categorySelectTree]="categorySelectTree">
              </app-category-select-field>

              <!-- 图片 -->
              <mat-form-field appearance="fill">
                <mat-label>产品图片</mat-label>
                <input matInput name="image" [(ngModel)]="selectedProduct.image">
                <button matSuffix mat-icon-button aria-label="Upload Image" (click)="uploadProductImage()">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
              </mat-form-field>
            </div><!-- end <div class="w-100"> -->
          </div><!-- end <div class="col-md-6 col-lg-8"> -->
        </div><!-- end <div class="row mb-3"> -->
      </div><!-- end <div class="container-fluid"> 图片与固定属性section -->

      <div class="d-xl-flex flex-xl-wrap">
        <!-- 产品属性变量 -->
        <ng-container *ngIf="selectedProduct.type == Variation || selectedProduct.type == Variable">
          <h3 class="flex-100 mb-1 d-flex justify-content-between">
            <b>产品属性变量设置
              <button mat-icon-button (click)="addVariableConfigurationOnClick()"
                      *ngIf="selectedProduct.type == Variable">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button (click)="removeVariableConfigurationOnClick()"
                      *ngIf="selectedProduct.type == Variable">
                <mat-icon>remove</mat-icon>
              </button>
            </b>
            <small>给可变产品添加属性</small>
          </h3>

          <!-- 循环每个variationConfiguration -->
          <ng-container *ngFor="let varConf of selectedProduct.variationConfigurations">
            <!-- 产品属性变量 - 类别 -->
            <mat-form-field class="flex-33" appearance="fill">
              <mat-label>产品属性变量类别</mat-label>
              <mat-select [(value)]="varConf.attributeName"
                          [disabled]="selectedProduct.type == Variation && varConfAttrNameExist(varConf.attributeName)">
                <mat-option *ngFor="let varAttr of variationAttributes"
                            [value]="varAttr.name">{{varAttr.name}}</mat-option>
              </mat-select>
              <button matSuffix mat-icon-button (click)="smartFillVarConfValue(varConf, $event)">
                <mat-icon>sync</mat-icon>
              </button>
            </mat-form-field>

            <!-- 产品属性变量 - 类别的值 -->
            <mat-form-field class="flex-66" appearance="fill">
              <mat-label>变量可选值</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let varConfValue of varConf.attributeValues"
                          (removed)="varConfValueRemoveOnClick(varConf, varConfValue)">
                  {{varConfValue}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <input
                #input
                [ngModel]="varConf.attributeValues"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [disabled]="!varConf.attributeName || varConf.attributeName.length == 0"
                (keyup)="filterVarConfValueOptions(getVarConfValueOptions(varConf.attributeName), $event)"
                (focus)="filterVarConfValueOptions(getVarConfValueOptions(varConf.attributeName), null)"
              ><!-- (matChipInputTokenEnd)="varConfValueInputEnterOnClick(varConf, $event)" -->
              <mat-autocomplete #auto="matAutocomplete"
                                (optionSelected)="varConfValueAddOnClick(varConf, $event, input)">
                <mat-option
                  *ngFor="let attrName of varConfValueOptions"
                  [value]="attrName">
                  {{attrName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field><!-- 产品属性变量值 -->
          </ng-container><!-- 循环每个variationConfiguration -->
        </ng-container><!-- 产品属性变量 *ngIf="selectedProduct.type == Variation || selectedProduct.type == Variable" -->

        <!-- 可变属性 -->
        <!-- dynamically render these fields one by one to avoid UI blocking -->
        <ng-container #attrFieldsContainer></ng-container>
        <ng-template #attrFieldTemplate let-currentAttr="attr" let-i="i">
          <h3 *ngIf="nextAttrShowLabelWithIndex(i)" class="flex-100 mb-1 d-flex  justify-content-between">
            <b>{{currentAttr}}</b>
            <small>{{getDescriptionOfProductAttr(currentAttr)}}</small>
          </h3>
          <ng-container [ngSwitch]="getAttrType(currentAttr)">
            <!-- Must use index to access the attr here, otherwise will cause compile error -->
            <!-- https://stackoverflow.com/questions/60128458/strange-problem-migrating-angular-8-app-to-9 -->

            <!-- Default -->
            <app-text-field class="flex-50" *ngSwitchDefault
                            [(attr)]="selectedProduct.attributes[i]"></app-text-field>

            <!-- TEXT -->
            <app-text-field class="flex-50" *ngSwitchCase="TEXT"
                            [(attr)]="selectedProduct.attributes[i]"
                            [options]="getOptionsOfSelectAttr(currentAttr)"></app-text-field>

            <!-- NUMBER -->
            <app-number-field class="flex-33 flex-xxl-25" *ngSwitchCase="NUMBER"
                              [(attr)]="selectedProduct.attributes[i]"
                              [options]="getOptionsOfSelectAttr(currentAttr)"></app-number-field>

            <!-- IMAGE -->
            <app-image-field class="flex-50" *ngSwitchCase="IMAGE"
                             [(attr)]="selectedProduct.attributes[i]"></app-image-field>

            <!-- IMAGE_SET -->
            <app-image-set-field class="flex-50 flex-xxl-33" *ngSwitchCase="IMAGE_SET"
                                 [(attr)]="selectedProduct.attributes[i]"></app-image-set-field>

            <!-- RICH_TEXT -->
            <app-rich-text-field class="flex-100 mb-2" *ngSwitchCase="RICH_TEXT"
                                 [(attr)]="selectedProduct.attributes[i]"></app-rich-text-field>

            <!-- BOOLEAN -->
            <app-boolean-field class="flex-33 flex-xxl-25 mb-2" *ngSwitchCase="BOOLEAN"
                               [(attr)]="selectedProduct.attributes[i]"></app-boolean-field>

            <!-- SELECT -->
            <app-select-field class="flex-33 flex-xxl-25 mb-2" *ngSwitchCase="SELECT"
                              [(attr)]="selectedProduct.attributes[i]"
                              [options]="getOptionsOfSelectAttr(currentAttr)"></app-select-field>

            <!-- datetime picker -->
            <app-datetime-picker-field class="flex-33 flex-xxl-25 mb-2" *ngSwitchCase="DATE"
                                       [(attr)]="selectedProduct.attributes[i]"></app-datetime-picker-field>

          </ng-container><!-- end ngSwitch -->
        </ng-template><!-- end ng-template #attrFieldTemplate let-currentAttr="attr" let-i="i" -->

        <!-- 创建时间 -->
        <mat-form-field #createdTimeField class="flex-100" [class.vh-100]="showVh100Margin" appearance="fill"
                        *ngIf="!editingNewProduct">
          <mat-label>创建时间</mat-label>
          <input matInput name="created" [(ngModel)]="selectedProduct.createdAt" disabled>
        </mat-form-field>

        <!-- 上次修改 -->
        <mat-form-field class="flex-100" appearance="fill" *ngIf="!editingNewProduct">
          <mat-label>上次修改</mat-label>
          <input matInput name="update" [(ngModel)]="selectedProduct.updatedAt" disabled>
        </mat-form-field>
      </div><!-- end <div class="d-xl-flex flex-xl-wrap"> 可变属性与时间section -->
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
